.productCard img {
  max-height: 250px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  padding-bottom: 10px;
}
.productCard {
  border-radius: 5px;
  background-color: #fffefb;
  box-shadow: 2px 2px 5px #0d0d0d;
  height: 450px;
  width: 350px;
  margin: 2rem 0 2rem 5rem;
  padding: 1rem;
}

.productCard a {
  text-decoration: none;
  color: #0d0d0d;
  font-size: 1.3rem;
  font-weight: 600;
  background-image: url("../assets/brush.png");
  z-index: 1;
}

.productCard a:hover {
  color: #a8611f;
  text-decoration: underline;
}

.filteredProducts {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}

@media (max-width: 899px) {
  .filteredProducts {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    grid-auto-rows: auto;
    grid-gap: 3rem;
  }

  .productCard img {
    max-height: 200px;
    padding-bottom: 10px;
  }
  .productCard {
    max-height: 450px;
    width: 400px;
    margin-left: 90px;
    padding: 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .filteredProducts {
    display: grid;
    grid-template-columns: repeat(1, 300px);
  }
  .productCard img {
    max-height: 200px;
    padding-bottom: 10px;
  }
  .productCard {
    max-height: 350px;
    width: 300px;
    margin-left: 40px;
    padding: 1rem;
    font-size: 1rem;
  }
}
