.singleProduct {
  padding: 30px 70px;
}

.singleProduct a {
  color: #a8611f;
  font-weight: 800;
}

.singleProduct img {
  height: 100%;
  width: 100%;
}

.singleProduct button {
  height: 30%;
  width: 25%;
  float: left;
  border: none;
  margin: 2rem;
  outline: 3px solid #0d0d0d;
}

.mainImage {
  margin: 20px;
}

#backbtn {
  height: 40px;
  width: 200px;
  background-color: #583a22;
  outline: 5px solid #583a22;
  border: 3px solid #fff;
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
}

#backbtn:hover {
  height: 40px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #583a22;
  color: #583a22;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.popup img {
  max-width: 80%;
  margin: 30px 100px;
}
/******login page margin*****/
.signIn {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
#loginbtn {
  margin-top: 3rem;
  height: 40px;
  width: 200px;
  background-color: #583a22;
  outline: 5px solid #583a22;
  border: 3px solid #fff;
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
}

#loginbtn:hover {
  height: 40px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #583a22;
  color: #583a22;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.modify {
  text-decoration: none;
}
a.modify {
  color: #767f86;
}

@media (max-width: 899px) {
  .singleProduct {
    padding: 0px;
    width: 900px;
  }

  .singleProduct img {
    max-width: 1000px;
    max-height: 900px;
  }

  .singleProduct h1 {
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }

  .singleProduct p {
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }

  #backbtn {
    margin: 40px;
  }

  .popup img {
    max-height: 500px;
    max-width: 400px;
  }
}
