@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=EB+Garamond&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
}

.form label {
  padding-top: 20px;
}

.form {
  padding: 20px;
  margin: 0 auto;
  width: 800px;
}

.productSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
}

.herobanner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 10px;
  min-height: calc(100vh - 140px);
  background-color: #fffffb;
}

.makers {
  display: grid;
  grid-template-columns: repeat(2, 50rem);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  min-height: 500px;
  margin: 2rem 0 0 3rem;
}

.makersCard {
  border: 2px solid #c7c8a8;
  box-shadow: 0 0 8px #4f5b3e inset;
  border-radius: 10px;
  color: #0d0d0d;
}

.makersCard a {
  color: #4f5b3e;
}

.makersCard a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.addbtn {
  height: 45px;
  width: 200px;
  background-color: #4f5b3e;
  outline: 5px solid #4f5b3e;
  border: 3px solid #fff;
  color: #fff;
  font-family: "EB Garamond", serif;
  margin: 20px 0 20px 0;
  font-size: 1.2rem;
}

@media (max-width: 899px) {
  main {
    padding-top: 50px;
  }
}
