@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dosis:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
}

.form label {
  padding-top: 20px;
}

.form {
  padding: 20px;
  margin: 0 auto;
  width: 800px;
}

.productSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
}

.herobanner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 10px;
  min-height: calc(100vh - 140px);
  background-color: #fffffb;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.makers {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  min-height: 250px;
  margin: 2rem 0 0 3rem;
}

.makersCard {
  border: 2px solid #583a22;
  box-shadow: 2px 2px 5px #583a22;
  border-radius: 10px;
  color: #0d0d0d;
}

.makersCard a {
  color: #a8611f;
  text-decoration: none;
  font-weight: 900;
}

.makersCard a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.addbtn {
  height: 45px;
  width: 200px;
  background-color: #583a22;
  outline: 5px solid #583a22;
  border: 3px solid #fff;
  color: #fff;
  font-family: "EB Garamond", serif;
  margin: 20px 0 20px 0;
  font-size: 1.2rem;
}

@media (max-width: 899px) {
  main {
    padding-top: 50px;
  }

  .makers {
    display: grid;
    grid-template-columns: repeat(1, 30rem);
    grid-auto-rows: auto;
    grid-gap: 3rem;
  }

  .herobanner img {
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    min-height: calc(100vh - 190px);
    padding-top: 20px;
    max-width: 650px;
  }

  .welcometxt {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    padding-top: 100px;
  }
}
